/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: darkgray;
}

h1, p {
    color: white;
    text-align: center;
    background-color: royalblue;
}

p {
    border: 1px solid black;
    height: 21px;
}

td {
    text-align: center;
}

#map {
    margin: auto;
    height: 400px;
    width: 70%;
}

#historyPanel {
    width: 100%;
    height: auto;
    background-color: azure;
}

.point {
    border-width: 1px;
    border-style: solid;
}

.dummy {
    background-color: black;
    width: 400px;
    height: 400px;
    margin: auto;
}